# Python envs & caches
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build/output
*.log
dist/
build/
.cache/

# IDE
.vscode/
.idea/

# ENV files
.env
.env.*

# data 
data/

# Training artifacts & large binaries
artifacts/
*.onnx
*.pt
*.pth
*.mp3
*.wav

# ONNX exports
onnx-model/

scripts/export_to_onnx.py