# Python envs & caches
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build/output
*.log
dist/
build/
.cache/

# IDE
.vscode/
.idea/

# ENV files
.env
.env.*

# data 
data/

# ONNX exports
onnx-model/